<ion-header>
  <ion-navbar color="primary">
    <ion-title text-left>Cadê a Sala?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-card>

  <ion-card-content style="background-color:#65A1D5">
   <h1>{{disciplina.disciplina}}</h1>
  </ion-card-content>

</ion-card>


<ion-card>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col col-md-1>
          <div class="date">
            <span class="month" style="font-size: 15px;font-weight: bold; ">{{ disciplina.datahora }}  </span>
          </div>
        </ion-col>
         <ion-col col-md-1>
           <div style="font-size: 18px;font-weight: bold;padding:10px 0;">AP3</div>
         </ion-col>
         <ion-col col-md-10 >
            <p class="ng-binding" style="font-weight: bold;">Local: {{disciplina.local}}</p>
         </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card-content>



  
</ion-card>
</ion-content>

